.maincontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2vh;
    border: 2px solid black;
}

#bookcontainer{
    display: grid;
    grid-template-rows: 70px 1px 230px 50px;
    background-color: white;
    border: 2px solid black;
    flex: 33.33%;
}
.bcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
#bookcontainer img{
    height: 200px;
    width: 150px;
    border-radius: 10px;
}
#bookcontainer .booktitle{
    font-weight: bold;
}
#bookcontainer p{
    margin-left: 10px;
    margin-right: 10px;
}
#bookheading{
    display: flex;
    flex: 100%;
    height: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E2EFDA;
    border: 2px solid black;
}
#bookheading img{
    height: 7em;
    border-radius: 500px;
}
#bookheading p{
    font-weight: bold;
    font-size: 6em;
    font-family: arial;
    margin-right: 20px;
}
.status{
    border: 3px solid black;
    padding: 1px 10px;
    border-radius: 20px;
    background-color: #C6EFCE;
    margin-bottom: 30px;
}
footer .logo{
    height: 40px;
    border-radius: 500px;
    margin-right: 10px;
}


@media (max-width: 575.98px) {
    #bookheading p{
    font-size: 2em;}
    #bookheading img{
        height: 3em;}
 }
@media (min-width: 576px) and (max-width: 767.98px) { 
    #bookheading p{
    font-size: 2em;}
    #bookheading img{
        height: 4em;}
 }
@media (min-width: 768px) and (max-width: 991.98px) { 
    #bookheading p{
        font-size: 3em;}
    #bookheading img{
        height: 4em;}
 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #bookheading p{
        font-size: 4em;}
    #bookheading img{
        height: 5em;}
 }
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    #bookheading p{
        font-size: 5em;}
    #bookheading img{
        height: 6em;}
 }